{% extends "PlantillaPadreCRUD.html"%}
{% load static %}
{% block title %} Plantitas | Administrador de Productos {% endblock %}

{% block content%} 

        {% if mensaje %}
            <div class="bd-callout bd-callout-warning">Se ha registrado correctamente</div>
        {% endif %}
        
        <div class="container-fluid py-4">
            <div class="row">
                <form action="Agregar/" class="col-8 py-2 offset-2">
                    <input type="submit">
                </form>
            </div>
            <div class="row">
                
                <div class="col-8 py-2 offset-2">
                    <div class="card">
                    <div class="card-body">
                    <h1 >Productos Ingresados</h1>
                    <div class="py-5">
                        <table class="table table-striped ">
                            <thead>
                                <tr>
                                    <th scope="col">id</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Categoria</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">imagen</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for l in productos %}
                                <tr>
                                    <th scope="row">{{l.id_producto}}</th>
                                    <td>{{l.nombre_producto}}</td>
                                    <td>{{l.precio}}</td>
                                    <td>{{l.categoria}}</td>
                                    <td>x{{l.stock}}</td>
                                    <td><img src="{{ l.FotoProducto.url }}" width="100" height="100"></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %} 
    </body>
    
</html>