{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>
            {% block title %} 
            {% endblock %}
        </title>
        <!--funcionamiento-->
        <link rel="icon" href='{% static "imagenes/iconoplantita.jpg" %}'>                                          <!--icono de la pagina web-->
        <meta charset="UTF-8">                                                                          <!--codificacion de caracteres-->      
        <meta http-equiv="X-UA-Compatible" content="IE=edge">                                           <!--para elegir la version de internet explorer con edge-->
        <script src='{% static "js/Funciones.js" %}'></script>                                          <!--js-->
        <link type="text/css"   href='{% static "css/style.css" %}'rel="stylesheet"/>                   <!--css-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>        <!--jquery por si algo falta-->
        <script src='{% static "js/categorias.js" %}'></script>                                                           <!--js de las cosas de la eimy-->
        <!--Bootstrap 5-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <body>
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">            <!--NAVBAR-->
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src='{% static "imagenes/iconoplantita.jpg" %}' alt="" width="30" height="24" class="d-inline-block align-text-top">
            </a>
            <a class="navbar-brand" href="{% url 'home' %}">Plantitas</a>                                                                             <!--link para la pagina de inicio-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if perms.AppProyecto.add_Producto%}
                <li class="nav-item">
                    <a class="nav-link" href='{% url "vista" %}'>Menú de Administrador y Pruebas</a>
                </li>
            {% endif %}
            <li class="nav-item">                                                                    <!--este es para las opciones desactivadas-->
                <a class="nav-link" href="{% url 'contacto' %}" tabindex="-1" aria-disabled="true">Contacto</a>
            </li>
            <li class="nav-item">                                                                    <!--este es para las opciones desactivadas-->
                <a class="nav-link" href='{% url "carro" %}' tabindex="-1" aria-disabled="true">Carro</a>
            </li>
            </ul>

            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Buscar Producto" aria-label="Search" style="margin-bottom: 12px;margin-top: 12px;">
                <button class="btn btn-outline-success" type="submit" style="margin-right: 12px;margin-bottom: 12px;margin-top: 12px;">Buscar </button>
            </form>
            {% if user.is_authenticated %}
            <div class="justify-content-end">
                <label style="color: aliceblue;"> Hola, {{user.username}}!</label>
                <a class="btn btn-danger" href="{% url 'logout' %}" style="margin-left: 8px;">Cerrar Sesión</a>
            <div>
            {% else %}


            <div class="btn-group" style="margin-bottom: 12px;margin-top: 12px;">                                                                  <!--ahi el grupo de Botones del inicio de sesion -->
            <a href="{% url 'crear-cuenta' %}" class="btn btn-primary active" aria-current="page">Crear Cuenta</a>
            <a href="{% url 'login' %}" class="btn btn-primary">Iniciar Sesión</a>
            </div>
            {% endif %}
        </div>
            </div>
        </nav>


            {% if messages %}
                {% for m in messages %}
                    {{m}}
                {% endfor %}
            {% endif %}


            {% block content %}
            {% endblock %}







        <div class="container-fluid py-5">                                       <!--FOOTER-->
                    
            <footer class="text-center text-lg-start text-white " style="background-color: #1b1822">
            <!-- Grid container -->
                <div class="container py-4">
                    <section>
                        <div class="row">
                            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                                <h6 class="text-uppercase mb-4 font-weight-bold">Plantitas</h6>
                                <p>Plantas, macetas, utiles de jardín, fertilizantes y pesticidas de la mejor calidad, hechos por nuestra comunidad </p>
                            </div>              
        
                            <hr class="w-100 clearfix d-md-none" />
        
                            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3" >
                                <h6 class="text-uppercase mb-4 font-weight-bold">Nuestra alianza</h6>
                                <p><a class="text-white">Alan Zamora</a></p>
                                <p><a class="text-white">Eimy Henriquez</a></p>
                                <p><a class="text-white">Patricio Yañez</a></p>
                                <p><a class="text-white">Diego Maradona</a></p>
                            </div>
                            
                            <hr class="w-100 clearfix d-md-none"/>          
                            <hr class="w-100 clearfix d-md-none"/>         
        
                            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                                <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
                                <p><i class="fas fa-home mr-3"></i> *Inserte Direccion*, Santiago</p>
                                <p><i class="fas fa-envelope mr-3"></i> *inserteCorreoContacto@correo.com*</p>
                                <p><i class="fas fa-phone mr-3"></i> + (56) 9  1234 5678</p>
                                <p><i class="fas fa-print mr-3"></i> + (56) 9  1234 5678</p>
                            </div>
        
                            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                                <h6 class="text-uppercase mb-4 font-weight-bold">Siguenos</h6>
                                <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="https://web.facebook.com/alan.zamora.1000" role="button"><i class="fab fa-facebook-f"></i> Facebook</a>                 <!-- Facebook -->
                                <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="https://www.instagram.com/belzeluv/" role="button"><i class="fab fa-instagram"></i>Instagram</a>                        <!-- Instagram -->
                                <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="https://www.linkedin.com/in/alan-zamora-a76518224/" role="button"><i class="fab fa-linkedin-in"></i>LinkedIn</a>        <!-- Linkedin -->
                                <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="https://github.com/BelzeluV/Repositorio-De-Primer-Proyecto-HTML" role="button"><i class="fab fa-github"></i>GitHub</a>  <!-- Github -->
                            </div>
                        </div>
                    </section>
        
                </div>
        
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">      <!--copyright-->
                    © 2020 Copyright:
                    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
                </div>
            </footer>
        </div>
    </body>
</html>