{% extends "PlantillaPadre.html"%}

{% block title %} Plantitas | productos {% endblock %}

{% block content%} 
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">




    

    <div class="container col-11">
        <!-- Portfolio Section Heading-->
        
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Fertilizantes</h2>

        <!-- BOTON CLP TO USD -->
        <div class="row py-4">
            <div class="col-6">
                <h1>resultados de la Busqueda</h1>
                <div class="card col-5 ">
     
                    <div class="card-body">
                        
                            
                        <label style="margin-right: 15px;">Elija la moneda del Resultado</label>

                            <button class="btnCLP btn btn-outline-success">CLP</button>
                            <button class="btnUSD btn btn-outline-danger">USD</button>
                        
                    </div>
                </div>
            </div>
        </div>


        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        
<!-- Section-->
<section class="py-5">
    <div class="container-fluid">


        
        <div class="card mb-3" >
            <div class="row">
                <div class="col-md-3">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</section>
{% endblock %}