{% extends "PlantillaPadre.html"%}
{% block title %} Plantitas | Crear Cuenta {% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block content%} 
<script src='{% static "js/Funciones.js" %}'></script>
<div class="container-fluid">
    
    


    <div class="col-md-6 offset-3">
        <h1 style="color:aliceblue">Registrate en plantitas</h1>
        <div class="d-grid gap-2">
            <a class="btn btn-danger" href="{% url 'home' %}">Volver</a>
        </div> 
    <div class="card bg-dark text-white" >
        <div class="card-body">

            <form action="" method="POST" name="Formulario_registro">
                
                {% csrf_token %}
                {{formulario | crispy}}

                
        </div>
    </div>
    
        <div class="d-grid gap-2">
        <input type="submit" name="btn_enviar" class="btnlimpiar btn btn-success" title="Limpia el formulario con la información escrita" value="enviar" onclick="validaedad(document.getElementById('txtnacimiento').value);checkigualdad();">
        </div>
    </form>
    </div>
</div>   
</form>
{% endblock %}