
{% extends "PlantillaPadre.html"%}
{% load humanize %}
{% load static %}
{% block title %} Plantitas | {{producto.nombre_producto}} {% endblock %}

{% block content %} 
<div class="container-fluid">


    <div class="row justify-content-center py-4">
        
        <div class="col-md-6">
            <div class="d-grid gap-2">
                <a class="btnlimpiar btn btn-danger" href="{% url 'home' %}">Volver</a>
            </div>
            <div class="card  text-bg-dark">
                <h1 style="text-align: center;">Detalles del Producto</h1>
                <img src="{{ producto.FotoProducto.url }}" class="card-img-left">
              <div class="card-body">
                <h2 class="card-title">{{producto.nombre_producto}}</h2>
                <span></span>
                <h3>Descripcion</h3>
                <p class="card-text">{{producto.desc}}</p>
                <p class="card-text">Tipo de Producto: 
                    {%if producto.categoria == 0 %}
                    macetas
                    {% elif producto.categoria == 1 %}
                    Plantas
                    {% elif producto.categoria == 2 %}
                    Herramientas
                    {% elif producto.categoria == 3 %}
                    tierras
                    {% endif%}
                </p>
                <p class="card-text">Quedan: {{producto.stock}}</p>
                <p class="card-text-muted">{{producto.precio}}</p>
              </div>
            </div>
            <div class="d-grid gap-2">
                <a class="btnlimpiar btn btn-success">Comprar</a>
            </div>
          </div>
          



    </div>


</div>
{% endblock %}