{% extends "PlantillaPadre.html"%}
{% load humanize %}
{% load static %}
{% block title %} Plantitas | Inicio {% endblock %}
{% load crispy_forms_tags %}
{% block content%} 
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-7 py-4">
                <div class="d-grid gap-2">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-danger" href="{% url 'home' %}">Volver</a> 
                        <a class="btn btn-primary" href="{% url 'login' %}">Iniciar Sesion</a>
                    </div>
                </div>
                <div class="card text-bg-dark">
                    <div class="card-body">
                        <h2>registro de Usuario</h2>
                        <hr>
                        <form action="" method="POST">

                            {% csrf_token %}
                            {{ form | crispy}}
                        <br>
                    </div>
                </div>
                    <div class="d-grid gap-2">
                        <input type="submit" class="btn btn-success" value="ingresar"> 
                    </div>
                        </form>
            </div>
        </div>
    </div>
{%endblock%}